#!/usr/bin/env python3
{{- if .SharedRuntimePackage }}
from plugin_kit_ai_runtime import ClaudeApp, CodexApp, allow, continue_
{{- else }}
from plugin_runtime import ClaudeApp, CodexApp, allow, continue_
{{- end }}


{{- if eq .Platform "codex-runtime" }}
app = CodexApp()


@app.on_notify
def on_notify(event):
    _ = event
    return continue_()
{{- else }}
app = ClaudeApp(
    allowed_hooks=[
        "Stop",
        "PreToolUse",
        "UserPromptSubmit",
    {{- if .ClaudeExtendedHooks }}
        "SessionStart",
        "SessionEnd",
        "Notification",
        "PostToolUse",
        "PostToolUseFailure",
        "PermissionRequest",
        "SubagentStart",
        "SubagentStop",
        "PreCompact",
        "Setup",
        "TeammateIdle",
        "TaskCompleted",
        "ConfigChange",
        "WorktreeCreate",
        "WorktreeRemove",
    {{- end }}
    ],
    usage={{- if .ClaudeExtendedHooks }} "main.py <hook-name>" {{- else }} "main.py <Stop|PreToolUse|UserPromptSubmit>" {{- end }},
)


@app.on_stop
def on_stop(event):
    _ = event
    return allow()


@app.on_pre_tool_use
def on_pre_tool_use(event):
    _ = event
    return allow()


@app.on_user_prompt_submit
def on_user_prompt_submit(event):
    _ = event
    return allow()

{{- if .ClaudeExtendedHooks }}
@app.on("SessionStart")
def on_session_start(event):
    _ = event
    return allow()


@app.on("SessionEnd")
def on_session_end(event):
    _ = event
    return allow()


@app.on("Notification")
def on_notification(event):
    _ = event
    return allow()


@app.on("PostToolUse")
def on_post_tool_use(event):
    _ = event
    return allow()


@app.on("PostToolUseFailure")
def on_post_tool_use_failure(event):
    _ = event
    return allow()


@app.on("PermissionRequest")
def on_permission_request(event):
    _ = event
    return allow()


@app.on("SubagentStart")
def on_subagent_start(event):
    _ = event
    return allow()


@app.on("SubagentStop")
def on_subagent_stop(event):
    _ = event
    return allow()


@app.on("PreCompact")
def on_pre_compact(event):
    _ = event
    return allow()


@app.on("Setup")
def on_setup(event):
    _ = event
    return allow()


@app.on("TeammateIdle")
def on_teammate_idle(event):
    _ = event
    return allow()


@app.on("TaskCompleted")
def on_task_completed(event):
    _ = event
    return allow()


@app.on("ConfigChange")
def on_config_change(event):
    _ = event
    return allow()


@app.on("WorktreeCreate")
def on_worktree_create(event):
    _ = event
    return allow()


@app.on("WorktreeRemove")
def on_worktree_remove(event):
    _ = event
    return allow()
{{- end }}
{{- end }}


if __name__ == "__main__":
    raise SystemExit(app.run())
