{
  "hooks": {
    "SessionStart": [
      {
        "matcher": "*",
        "hooks": [
          {
            "name": "{{.ProjectName}}-session-start",
            "type": "command",
            "command": "${extensionPath}${/}bin${/}{{.ProjectName}} GeminiSessionStart"
          }
        ]
      }
    ],
    "SessionEnd": [
      {
        "matcher": "*",
        "hooks": [
          {
            "name": "{{.ProjectName}}-session-end",
            "type": "command",
            "command": "${extensionPath}${/}bin${/}{{.ProjectName}} GeminiSessionEnd"
          }
        ]
      }
    ],
    "BeforeModel": [
      {
        "matcher": "*",
        "hooks": [
          {
            "name": "{{.ProjectName}}-before-model",
            "type": "command",
            "command": "${extensionPath}${/}bin${/}{{.ProjectName}} GeminiBeforeModel"
          }
        ]
      }
    ],
    "AfterModel": [
      {
        "matcher": "*",
        "hooks": [
          {
            "name": "{{.ProjectName}}-after-model",
            "type": "command",
            "command": "${extensionPath}${/}bin${/}{{.ProjectName}} GeminiAfterModel"
          }
        ]
      }
    ],
    "BeforeToolSelection": [
      {
        "matcher": "*",
        "hooks": [
          {
            "name": "{{.ProjectName}}-before-tool-selection",
            "type": "command",
            "command": "${extensionPath}${/}bin${/}{{.ProjectName}} GeminiBeforeToolSelection"
          }
        ]
      }
    ],
    "BeforeAgent": [
      {
        "matcher": "*",
        "hooks": [
          {
            "name": "{{.ProjectName}}-before-agent",
            "type": "command",
            "command": "${extensionPath}${/}bin${/}{{.ProjectName}} GeminiBeforeAgent"
          }
        ]
      }
    ],
    "AfterAgent": [
      {
        "matcher": "*",
        "hooks": [
          {
            "name": "{{.ProjectName}}-after-agent",
            "type": "command",
            "command": "${extensionPath}${/}bin${/}{{.ProjectName}} GeminiAfterAgent"
          }
        ]
      }
    ],
    "BeforeTool": [
      {
        "matcher": "*",
        "hooks": [
          {
            "name": "{{.ProjectName}}-before-tool",
            "type": "command",
            "command": "${extensionPath}${/}bin${/}{{.ProjectName}} GeminiBeforeTool"
          }
        ]
      }
    ],
    "AfterTool": [
      {
        "matcher": "*",
        "hooks": [
          {
            "name": "{{.ProjectName}}-after-tool",
            "type": "command",
            "command": "${extensionPath}${/}bin${/}{{.ProjectName}} GeminiAfterTool"
          }
        ]
      }
    ]
  }
}
